@import "../../sass/index.scss";

.task{
    display: flex;
    align-items: center;
    padding: 2rem 0;
    border-bottom: solid 1px;

    &--light{
        border-color: $color-light-theme-gray-3;
    }

    &--dark{
        border-color: $color-dark-theme-gray-4;
    }

    &__text{
        cursor: pointer;
        &--completed{
            text-decoration: line-through;
        }
    }

    &__checkbox{
        display: none;
    }

    &__icon-check{
        width: 1.5rem;
        height: 1.5rem;
        display: none;

        &--completed{
            display: block;
        }
    }
}