@import "../../sass/index.scss";

.todoForm{

    display: flex;
    align-items: center;
    height: 5rem;

    &__form{
        flex: 1;
        height: 100%;
        display: flex;
    }

    &__input{
        align-self: stretch;
        width: 100%;
        background-color: transparent;
        border: 0;
        outline: none;
        caret-color: $color-bright-blue;
        
        &--light{
            color : $color-light-theme-gray-5;
        }

        &--dark{
            color : $color-dark-theme-gray-1;
        }
    }
}