@import "../../sass/index.scss";

.wrapper{
    border-radius: 0.5rem;
    width: 100%;
    min-height: 5rem;

    &--light{
        background-color: $color-white;
        color: $color-light-theme-gray-5
    }

    &--dark{
        background-color: $color-dark-theme-gray-5;
        color: $color-dark-theme-gray-1;
    }
}