@import "../../sass/index.scss";

.crossIcon{
    width: 100%;
    height: 100%;

    &--light{
        fill: $color-light-theme-gray-5
    }

    &--dark{
        fill: $color-dark-theme-gray-2;
    }
}